.card {
  width: 560px;
  margin: 0;
  padding: 0;
}

.card__title {
  margin: 0;
  padding-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
}

.card__list_item {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  font-family: "Noto Serif", times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
